<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Form</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container mt-5">
        <h1>SignUp</h1>
        <div class="container">
            <div class="form-group">
                <label for="email">E-mail : </label>
                <input type="text" class="form-control" id="email">
            </div>
        </div>
    </div>
    <script>
        $(document).ready(function() {
            let email = new URLSearchParams(window.location.search).get('email');
            $('#email').val(email);
        });
    </script>
</body>
</html>
